* {
    font-family: "Roboto", sans-serif;
}

body {
    margin: 0;
}

.header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px;
}

.links {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    gap: 14px;
    flex: 1;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.hero-secondary {
    font-size: 18px;
    color: #e5e7eb;
}

.hero-container {
    background-color: #1f2937;

}

h1 {
    margin: 0;
}

.hero-main {
    font-size: 48px;
    color: #F9FAF8;
    font-weight:700;
}